{% if cls and cls.fields %}
  {% for field in cls.fields %}
    {% set val = (values or {}).get(field.name, field.default or '') %}
    {% if field.type == 'checkbox' %}
      <label class="checkbox-field-label">
        <input type="checkbox" name="{{ field.name }}" value="true" {{ 'checked' if val|truthy }}>
        {{ field.label or field.name }}
      </label>
    {% elif field.type == 'textarea' %}
      <label>{{ field.label or field.name }}
        <textarea name="{{ field.name }}" rows="3">{{ val }}</textarea>
      </label>
    {% elif field.type == 'number' %}
      <label>{{ field.label or field.name }}
        <input type="number" name="{{ field.name }}" value="{{ val }}" step="any">
      </label>
    {% elif field.type == 'date' %}
      <label>{{ field.label or field.name }}
        <input type="date" name="{{ field.name }}" value="{{ val }}">
      </label>
    {% elif field.type == 'url' %}
      <label>{{ field.label or field.name }}
        <input type="url" name="{{ field.name }}" value="{{ val }}" placeholder="https://...">
      </label>
    {% elif field.type == 'multiselect' %}
      <label class="multiselect-label">{{ field.label or field.name }}
        <div class="multiselect-wrapper" data-field="{{ field.name }}">
          <div class="multiselect-selected">
            {% if val and (val is iterable and val is not string) %}
              {% for selected_val in val %}
                <span class="multiselect-tag" data-value="{{ selected_val }}">
                  {{ selected_val }}
                  <button type="button" class="multiselect-tag-remove" aria-label="Remove {{ selected_val }}">&times;</button>
                </span>
              {% endfor %}
            {% endif %}
            <input type="text" class="multiselect-search" placeholder="Search or add..." autocomplete="off">
          </div>
          <div class="multiselect-dropdown" style="display: none;">
            <div class="multiselect-search-box">
              <input type="text" class="multiselect-filter" placeholder="Filter options..." autocomplete="off">
            </div>
            <ul class="multiselect-options">
              {% for option in field.options or [] %}
                {% set is_selected = (val is iterable and val is not string and option in val) or (val is string and option == val) %}
                <li class="multiselect-option" data-value="{{ option }}">
                  <input type="checkbox" class="multiselect-checkbox" value="{{ option }}" {{ 'checked' if is_selected }}>
                  <span class="multiselect-option-label">{{ option }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- Hidden inputs for form submission -->
          <div class="multiselect-hidden-inputs">
            {% if val and (val is iterable and val is not string) %}
              {% for selected_val in val %}
                <input type="hidden" name="{{ field.name }}" value="{{ selected_val }}">
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </label>
    {% else %}
      <label>{{ field.label or field.name }}
        <input type="text" name="{{ field.name }}" value="{{ val }}">
      </label>
    {% endif %}
  {% endfor %}
{% endif %}
