services:
  minecraft:
    image: mjanders6/minecraft:latest
    container_name: minecraft
    restart: unless-stopped

    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/127.0.0.1/25565"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 60s

    environment:
      MC_UID: 1000
      MC_GID: 1000
      RCON_PASSWORD: ${RCON_PASSWORD}
      GAME_MODE: ${GAME_MODE}
      SERVER_IP: ${SERVER_IP}

    volumes:
      - world_data:/server/world
      - world_nether_data:/server/world_nether
      - world_the_end_data:/server/world_the_end
      - config_data:/server/config
      - tools_data:/server/tools
      - backups_data:/server/backups
      - server_root_data:/server/runtime

    ports:
      - "25565:25565"

volumes:
  world_data:
    external: true
  world_nether_data:
    external: true
  world_the_end_data:
    external: true
  config_data:
    external: true
  tools_data:
    external: true
  backups_data:
    external: true
  server_root_data:
    external: true
